@using BonusMvcStok.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<tblmusteri>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>ŞEHİR</th>
        <th>BAKİYE</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.id</td>
            <td>@x.ad</td>
            <td>@x.soyad</td>
            <td>@x.sehir</td>
            <td>@x.bakiye</td>
            <td><a href="/Musteri/MusteriSil/@x.id" class="btn btn-sm btn-danger" onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz?')"><i class="fas fa-trash-alt"></i> Sil</a></td>
            <td><a href="/Musteri/MusteriGetir/@x.id" class="btn btn-sm btn-success"><i class="fas fa-pen-fancy"></i> Güncelle</a></td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, sayfa=> Url.Action("Index", new {sayfa}))
<a href="/Musteri/YeniMusteri" class="btn btn-info" style="color:black; font-family:sans-serif, Times, serif;">Yeni Müşteri</a>